#cover{
    width: 100% !important;
    margin: auto;
}

#content img{
    width:100%;
}

#content h3{
    width: 100%;
}

section{
    display: inline-block;
    width: 100%;
}

article{
    display: inline-block;
    width: 33%;
}

article p{
    width: 47%;
    padding-top: 20%;
    padding-left: 3%;
}

article .header{
    width: 50%;

}

.expo{
    width: 100% !important;
}