a{
    font-size: 7pt;
}

html{
    font-size: 0.3em;
}

#contentOfContent{
    width: 98% !important;
}

footer img {
    width: 5%;
}

table{
    font-size: 8pt !important;
}

#fotos img{
    width: 40vw !important;
}

#welcome{
    display: none;
}

article img{
    width: 100% !important;
}

article{
    width: 33%;
    float: none !important;
    font-size: 8pt;
}

#tijdsschema{
    width: 100%;
    font-size: 12pt !important;
}

html{
    font-size: 9pt !important;
}

#area, input{
    width: 100% !important;
}

.radio{
    width: 20% !important;
}

form{
    width: 90% !important;
}

fieldset{
    width: 100% !important;
}

article{
    float: none !important;
    width: 100% !important;
}

article .expo{
    width: 100% !important;
}

article p{
    float: none !important;
    width: 100% !important;
    padding: 0;
}